services:
  db:
    image: mariadb:10.4
    container_name: mariadb_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 7id424app
      MYSQL_DATABASE: team_work
      MYSQL_USER: 7idapp
      MYSQL_PASSWORD: 7id424
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d

  tomcat:
    build: ./tomcat
    container_name: tomcat_container
    restart: always
    ports:
      - "9090:8080"
    volumes:
      - ./tomcat/conf:/usr/local/tomcat/conf
      - ./tomcat/webapps/manager/META-INF/context.xml:/usr/local/tomcat/webapps/manager/META-INF/context.xml

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_container
    restart: always
    environment:
      PMA_HOST: mariadb_container
      MYSQL_ROOT_PASSWORD: 7id424app
    ports:
      - "8082:80"

volumes:
  db_data:
